<div class="container m6 s12">
    <h5 class="">La réception</h5>
    <ul class="collapsible expandable">
        <li>
            <div class="collapsible-header">
                <b>Tout le monde est-il convié à la mairie ?</b>
            </div>
            <div class="collapsible-body">
                <span>
                    Non, en raison de la taille de la salle de mariage et des mesures de distanciation sociale, les places sont limitées.
                    Nous n'avons par conséquent pas pu inviter tout le monde à la cérémonie civile.
                    <br><br>
                    Si vous tenez absolument à venir à la mairie, vous êtes les bienvenus mais devrez probablement
                    rester dehors : nous vous invitons plutôt à vous rendre directement au Moulin de Bully pour la
                    réception !
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <b>Le dress code a-t-il changé ?</b>
            </div>
            <div class="collapsible-body">
                <span>
                    Pas complètement, non. Nous avons conservé les couleurs principales (vert et jaune) mais avons ajouté des touches automnales (orange).
                    Si vous avez déjà trouvé votre tenue, elle conviendra parfaitement avec une petite laine en plus.
                    <br/><br/>
                    Pour des accessoires, nous vous invitons à vous rendre sur le site de <a href="https://www.papapiqueetmamancoud.fr/" target="_blank">Papa Pique & Maman Coud</a>, dans les gammes "Ocre", "Vert Emeraude", "Jaune Or" et "Caramel".
                </span>
            </div>
        </li>
    </ul>
    <h5 class="">Les transports</h5>
    <ul class="collapsible expandable">
        <li>
            <div class="collapsible-header">
                <b>Boire ou conduire, doit-on choisir ?</b>
            </div>
            <div class="collapsible-body">
                <span>
                    <b>Absolument</b>, nous tenons particulièrement à votre sécurité et ne souhaitons pas vous voir
                    prendre le volan si vous avez bu.<br><br>
                    Si vous souhaitez boire, nous avons prévu un service de navettes pour vous ramener en toute sécurité
                    à votre lieu de résidence.
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <b>Comment le service de navettes fonctionne-t-il ?</b>
            </div>
            <div class="collapsible-body">
                <span>
                    Nous avons fait appel à une société de transports pour organiser les trajets vers et depuis le
                    Moulin de Bully.
                    Si vous souhaitez en bénéficier, il vous faudra résider à l'hôtel B&B Caen Sud d'où partiront les
                    navettes.
                    <br><br>
                    Vous trouverez plus d'infos sur la réservation de l'hôtel plus bas.
                    <br><br>
                    Les navettes vous emmèneront sur le lieu de réception (départs de l'hôtel entre 15h30 et 16h30) et
                    vous ramèneront après la soirée (départs du Moulin de Bully entre 1h et 5h du matin)
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <b>Je souhaite profiter du service de navettes, que dois-je faire ?</b>
            </div>
            <div class="collapsible-body">
                <span>
                    Lors de la confirmation de votre participation à la réception, vous pourrez indiquer que vous
                    souhaitez bénéficier de ce service. Laissez-nous également votre adresse mail pour que nous
                    puissions vous donner tous les détails avant le jour J. N'hésitez pas à nous contacter pour de plus
                    amples informations !
                    <br><br>
                    PS : N'oubliez pas de réserver votre chambre dans l'hôtel B&B Caen Sud !
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <b>Je souhaite tout de même venir en voiture, puis-je me garer au Moulin de Bully ?</b>
            </div>
            <div class="collapsible-body">
                <span>
                    Oui, le moulin dispose d'un parking privé de 150 places.
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <b>Je n'ai pas de véhicule, puis-je venir en transports en commun au Moulin de Bully ?</b>
            </div>
            <div class="collapsible-body">
                <span>
                    Non, il n'y a pas de ligne de transports en commun désservant le Moulin de Bully : il vous faudra
                    venir véhiculés. Vous pouvez pour cela faire du covoiturage avec d'autres invités ou bien faire
                    appel au service de navettes.
                </span>
            </div>
        </li>
    </ul>
    <h5 class="">L'hébergement</h5>
    <ul class="collapsible expandable">
        <li>
            <div class="collapsible-header">
                <b>Où pouvons-nous dormir après la réception ?</b>
            </div>
            <div class="collapsible-body">
                <span>
                    Si vous avez décidé de profiter des navettes mises en place, vous devrez dormir au B&B Caen Sud : <a
                        target="_blank" href="https://www.hotel-bb.com/fr/hotel/caen-sud">site de l'hôtel</a>.
                    <br><br>
                    <!-- Vous pouvez réserver votre chambre dès à présent en appelant l'hôtel et en précisant le code
                    <b>162714</b> pour bénéficier des tarifs négociés :
                    <ul>
                        <i>
                            <li>Chambre double : 48 €</li>
                            <li>Chambre quadruple: 63 €</li>
                        </i>
                    </ul>
                    <br> -->
                    Vous pouvez également réserver votre chambre directement sur internet : <a target="_blank"
                        href="https://www.hotel-bb.com/fr/hotel/caen-sud">Hotel B&B</a>, <a target="_blank"
                        href="https://www.booking.com/hotel/fr/b-amp-b-caen-sud.fr.html"> Booking</a>.
                    <br><br>
                    Enfin, vous pouvez réserver un des nombreux gîtes à proximité du Moulin de Bully, mais dans
                    ce cas il vous faudra rentrer par vos propres moyens (et donc ne pas boire !)
                </span>
            </div>
        </li>
    </ul>
    <h5 class="">Les enfants</h5>
    <ul class="collapsible expandable">
        <li>
            <div class="collapsible-header">
                <b>Puis-je venir avec mes enfants ?</b>
            </div>
            <div class="collapsible-body">
                <span>
                    En raison du nombre d'invités, nous ne pouvons malheureusement pas convier tous les enfants à la
                    réception. Nous avons précisé dans le faire part si vous pouvez venir accompagnés de vos enfants
                    ou
                    s'ils doivent rester avec leurs grands parents pour le weekend :)
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <b>Je suis invité avec mes enfants, puis-je les faire garder sur place ?</b>
            </div>
            <div class="collapsible-body">
                <span>
                    Oui !<br /> Une équipe de baby-sitters sera présente lors de la réception au Moulin de Bully :
                    vous
                    pourrez, si vous le souhaitez, leur confier vos enfants.
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <b>Y a-t-il une limite d'âge pour confier mon enfant aux baby-sitters ?</b>
            </div>
            <div class="collapsible-body">
                <span>
                    Oui, nos baby-sitters ne pourront s'occuper que des enfants de 2 à 14 ans.
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <b>Les baby sitters pourront garder mon enfant jusqu'à quelle heure ?</b>
            </div>
            <div class="collapsible-body">
                <span>
                    Les baby-sitters seront présentes à partir de 19h jusqu'à 4h du matin.
                </span>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <b>Je souhaite confier mes enfants aux baby-sitters, que dois-je faire ?</b>
            </div>
            <div class="collapsible-body">
                <span>
                    Lors de la confirmation de votre participation à la réception, vous pourrez indiquer que vous
                    souhaitez bénéficier de ce service. Laissez-nous également votre adresse mail pour que nous
                    puissions vous donner tous les détails avant le jour J. N'hésitez pas à nous contacter pour de
                    plus
                    amples informations !
                </span>
            </div>
        </li>
    </ul>
    <h5 class="">Autres</h5>
    <ul class="collapsible expandable">
        <li>
            <div class="collapsible-header">
                <b>Est-il possible de venir en vélo ?</b>
            </div>
            <div class="collapsible-body">
                <span>
                    Oui si ça vous amuse et que votre femme est d'accord, depuis paris il y a un peu plus de 250 km ! Exemple d'itinéraire <a
                        href="https://www.geovelo.fr/france/route?from=2.341410,48.857180&to=-0.411200,49.098240&b=48.929718,1.768799,48.668292,1.219482"
                        target="_blank">ici</a>.
                </span>
            </div>
        </li>
    </ul>
    <ul class="collapsible expandable">
        <li>
            <div class="collapsible-header">
                <b>Vous avez développé ce super site tous seuls ?</b>
            </div>
            <div class="collapsible-body">
                <span>
                    Oui, si cela vous intéresse vous pouvez aller en dicuster avec le marié !
                </span>
            </div>
        </li>
    </ul>
</div>