<!--The content below is only a placeholder and can be replaced.-->

<nav class="teal lighten-1 navigation-bar" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" routerLink="/" class="brand-logo white-text">
      <img src="assets/images/logo-blanc.png" class="logo"> 
    </a>
    <ul class="right hide-on-med-and-down">
      <!-- <li><a routerLink="/" class="white-text">Accueil</a></li> -->
      <li><a routerLink="/programme" class="white-text">Programme</a></li>
      <li><a routerLink="/faq" class="white-text">FAQ</a></li>
      <!-- <li><a routerLink="/photos" class="white-text">Photos</a></li> -->
      <li><a routerLink="/confirmation" class="white-text">RSVP</a></li>
      <li><a routerLink="/livre" class="white-text">Livre d'or</a></li>
      <li><a routerLink="/liste" class="white-text">Liste de mariage</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li class="sidenav-close"><a routerLink="/">Accueil</a></li>
      <li class="sidenav-close"><a routerLink="/programme">Programme</a></li>
      <li class="sidenav-close"><a routerLink="/faq">FAQ</a></li>
      <li class="sidenav-close"><a routerLink="/confirmation">Confirmez votre venue</a></li>
      <!-- <li class="sidenav-close"><a routerLink="/photos">Photos</a></li> -->
      <li class="sidenav-close"><a routerLink="/livre">Livre d'or</a></li>
      <li class="sidenav-close"><a routerLink="/liste">Liste de mariage</a></li>
    </ul>
    <a routerLink="/" data-target="nav-mobile" class="sidenav-trigger white-text"><i class="material-icons">menu</i></a>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="white-text">Crédits</h5>
        <ul>
          <li><a class="white-text" href="https://materializecss.com">Materialize</a></li>
          <li><a class="white-text" href="https://flaticon.com">FlatIcon</a></li>
          <li><a class="white-text" href="https://angular.io/">Angular</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="footer-copyright">
    <div class="container">
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/pfauchet/mariage" class="white-text">GitHub
        Respository</a> -
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/pfauchet/mariage/blob/master/LICENSE"
        class="white-text">MIT License</a>
    </div>
  </div>
</footer>