<div class="container">
    <div class="row">
        <div class="col s12 center">
            <div class="icon-block">
                <h2 class="center brown-text text-lighten-2"><i class="material-icons">favorite_border</i></h2>
            </div>
            <h5 class="center">Services à disposition</h5>
            <p class="center light">Nous avons prévu plusieurs services afin de faciliter votre venue </p>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s12">
            <div class="icon-block">
                <h2 class="center brown-text text-lighten-2">
                    <i class="material-icons">child_friendly</i>
                </h2>
                <h5 class="center">Garde des enfants</h5>
                <p class="light">
                    Une équipe de baby-sitters sera présente lors de la réception au Moulin de Bully pour garder vos
                    enfants.
                </p>
            </div>
        </div>

        <div class="col m6 s12">
            <div class="icon-block">
                <h2 class="center brown-text text-lighten-2">
                    <i class="material-icons">drive_eta</i>
                </h2>
                <h5 class="center">Chauffeurs remplaçants</h5>
                <p class="light">
                    Des chauffeurs pourront vous ramener avec votre véhicule en toute sécurité sur votre lieu de
                    résidence, dans un rayon de 6km autour du Moulin de Bully.
                </p>
            </div>
        </div>

    </div>