<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <div class="icon-block">
                    <h2 class="center brown-text text-lighten-2"><i class="material-icons">book</i></h2>
                </div>
                <h5 class="center">Publier un commentaire !</h5>
                <p class="center light">Vous pouvez nous laisser ici un petit mot gentil !</p>
                <p class="center light" *ngIf="displaySuccessMessage">Ton message a bien été pris en compte, merci !</p>
                <p class="center light red-text" *ngIf="displayErrorMessage">{{ errorMessage }}</p>
            </div>
        </div>
        
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input required id="prenom" name="prenom" type="text" class="validate" [(ngModel)]="surname">
                    <label for="prenom">Prénom</label>
                </div>
                <div class="input-field col s6">
                    <input required id="nom" name="nom" type="text" class="validate" [(ngModel)]="name">
                    <label for="nom">Nom de famille</label>
                </div>
                <div class="input-field col s12">
                    <textarea required id="message" name="message" class="materialize-textarea"
                        [(ngModel)]="comment"></textarea>
                    <label for="message">Message</label>
                </div>
            </div>
            <div class="row center">
                <button class="btn-large waves-effect waves-light teal lighten-1" (click)="onSendComment()">
                    Valider
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
        
    </div>
</div>