<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <div class="icon-block">
                    <h2 class="center brown-text text-lighten-2"><i class="material-icons">card_giftcard</i></h2>
                </div>
                <h5 class="center">Notre liste de mariage</h5>
                <p class="center light">
                    Si vous souhaitez nous faire un cadeau pour nous aider à bien partir dans la vie, vous avez deux
                    possibilités.
                    <br />Nous avons ouvert une <span style="font-weight: bold">liste de mariage</span>
                    aux Galeries Lafayette, vous pouvez participer directement en ligne : <a
                        href="https://www.1001listes.fr/moncompte/vueinvites/numLst/667705/pageName/listeCadeaux/"
                        target="_blank">lien</a>
                    <br />Si vous souhaitez plutôt nous faire un don, une <span style="font-weight: bold">urne</span>
                    sera mise à disposition le jour J.
                </p>
            </div>
        </div>
    </div>
</div>