<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-4 title-text">Lydia & Paul</h1>
      <div class="row center">
        <h2 class="header center light teal-text text-lighten-5 title-text">11 avril 2020</h2>
      </div>
      <div class="row center">
        <a routerLink="/confirmation" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Confirmez
          votre venue</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax" style="opacity: 1"><img src="assets/images/moulin-bully3.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <div class="icon-block">
          <h2 class="center brown-text text-lighten-2"><i class="material-icons">chat_bubble_outline</i></h2>
        </div>
        <h5 class="center">Quelques mots</h5>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc
          nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros.
          Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget,
          bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet
          semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim
          mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          Curae;</p>
      </div>
    </div>
  </div>
</div>