<div class="parallax-container valign-wrapper" id="mairie">
    <div class="parallax"><img src="assets/images/mairie-houlgate.jpg" alt="Mairie de Houlgate"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>13h30 - Mairie de Houlgate</h4>
                <p class="center-text light">
                    <i>
                        10 Boulevard des Belges
                        <br />
                        14510 Houlgate
                    </i>
                </p>
            </div>
            <div class="col s12 center">
                <h4>Y aller</h4>
                <agm-map [latitude]="lat_mairie" [longitude]="lng_mairie" [zoom]="14">
                    <agm-marker [latitude]="lat_mairie" [longitude]="lng_mairie"></agm-marker>
                </agm-map>
            </div>
        </div>

    </div>
</div>

<div class="parallax-container valign-wrapper" id="reception">
    <div class="parallax"><img src="assets/images/moulin-bully.jpg" alt="Moulin de Bully"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>17h - Moulin de Bully</h4>
                <p class="center-text light">
                    <i>
                        29 Route du Pont du Coudray
                        <br />
                        14320 Feuguerolles-Bully
                    </i>
                </p>
            </div>
        </div>
        <div class="col s12 center">
            <h4>Y aller</h4>
            <agm-map [latitude]="lat_reception" [longitude]="lng_reception" [zoom]="11">
                <agm-marker [latitude]="lat_reception" [longitude]="lng_reception"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>
